<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<!--
column = title, rating, release date
goal: make title clickable 
-->


<table border="1">
  <thead>
    <tr>
      <% @column_names.each do |column| %>
        <th><%= column %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
        <tr>
          <% @column_names.each do |column| %>
            <!--<td><%= movie[column] unless column == "title" %></td>

            <td><%= link_to movie[column].to_s, movie if column == "title" %></td>
            -->
            <td><%= column == "title"? link_to(movie[column].to_s, movie) : movie[column] %></td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      
    </tr>
  </tfoot>
</table>




<table>
  <caption>
    Council budget (in £) 2018
  </caption>
  <thead>
    <tr>
      <th scope="col">Items</th>
      <th scope="col">Expenditure</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Donuts</th>
      <td>3,000</td>
    </tr>
    <tr>
      <th scope="row">Stationery</th>
      <td>18,000</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row">Totals</th>
      <td>21,000</td>
    </tr>
  </tfoot>
</table>


<%= link_to "New movie", new_movie_path %>
