<!--
column = title, rating, release date
goal: make title clickable 

goal: make table sortable 
-->

<!--<%= link_to "index css styles", "/app/assets/stylesheets/index_styles" %>-->


<!--
  <table border="1">
    <thead>
      <tr>
        <% @column_names.each do |column| %>
          <th><%= column %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
          <tr>
            <% @column_names.each do |column| %>
              <td><%= column == "title"? link_to(movie[column].to_s, movie) : movie[column] %></td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>

      </tr>
    </tfoot>
  </table>
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rottenpotatoes</title>
    <%= stylesheet_link_tag 'index_styles'%>
</head>
<body class="body-index">
  <h1 class="h1-index">Rottenpotatoes Movies</h1>
  <table border="1" class="table-index">
    <thead>
      <tr>
        <% @column_names.each do |column| %>
          <th class="<%= 'sorted-asc' if sort_column == column && sort_direction == 'asc' %> <%= 'sorted-desc' if sort_column == column && sort_direction == 'desc' %>">
            <%= link_to column.titleize, sort: column, direction: column == sort_column && sort_direction == 'asc' ? 'desc' : 'asc' %>
            <% if sort_column == column %>
              <span class="sort-icon"><%= sort_direction == 'asc' ? '↑' : '↓' %></span>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <% @column_names.each do |column| %>
            <td><%= column == 'title' ? link_to(movie[column], movie) : movie[column] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>



<!--
<table border="1">
  <thead>
    <tr>
      <% @column_names.each do |column| %>
        <th class="<%= 'sorted-asc' if sort_column == column && sort_direction == 'asc' %> <%= 'sorted-desc' if sort_column == column && sort_direction == 'desc' %>">
          <%= link_to column.titleize, sort: column, direction: column == sort_column && sort_direction == 'asc' ? 'desc' : 'asc' %>
          <% if sort_column == column %>
            <span class="sort-icon"><%= sort_direction == 'asc' ? '↑' : '↓' %></span>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <% @column_names.each do |column| %>
          <td><%= column == 'title' ? link_to(movie[column], movie) : movie[column] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
-->






<%= link_to "New movie", new_movie_path %>
