<p style="color: green"><%= notice %></p>



<!--
<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'show_styles'%>
    <title>Document</title>
</head>
<body>
  <div class="movie-detail">
    <%= render @movie %>
  </div>
  <div>
    <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
    <%= link_to "Back to movies", movies_path %>

    <%= button_to "Destroy this movie", @movie, method: :delete %>
  </div>
</body>
</html>